<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        p {
            font-size: 15px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Dear [Client Full Name],</p>
        <br>
        <p><strong>You have successfully reset the password for signing in to Alexandria Library.</strong></p>
        <br>
        <p>Just make sure to remember your new password and keep it in a safe place.</p>
        <br>
        <p>Best regards,</p>
        <br>
        <p>[Library Name] team</p>
    </div>
</body>
</html>